:root {
  background-color: rgba(0, 0, 21, 1);   
}  /* This on all the pages */
/*start logo styling */
#logo {
  width:4%; 
  height:8%; 
  margin-left: 5%;
  cursor: alias;
}
/*end logo styling */

/*start Iframe css*/

.IFrameOneHTML {
display: flex;
justify-content: center;
align-items: center;
height:fit-content;
width:auto;
}
.CodingBTN {
display: flex;
justify-content: center;
align-items: center;
height:fit-content;
}

/*end Iframe css*/

/*Change mode btn styling */
#chanemode {
  width: 90%;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  background: transparent;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-5 {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: rgb(255,27,0);
  background: linear-gradient(0deg, rgba(255,27,0,1) 0%, rgba(251,75,2,1) 100%);
}
.btn-5:hover {
  color: #f0094a;
  background: transparent;
   box-shadow:none;
}
.btn-5:before,
.btn-5:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #f0094a;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-5:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
  width:100%;
  transition:800ms ease all;
}
/*end change mode btns*/

/*start first div css*/
#firstDiv {
  background : url(https://media.istockphoto.com/id/1045865856/photo/great-for-textures-and-backgrounds-perfect-background-with-space-for-your-projects-text-or.jpg?s=612x612&w=0&k=20&c=13mxXv49JKjJlBxaZMxjp_ctW0aWOftbobcuRvqdsfs=) no-repeat center center/cover;
  padding-left: 50px;;
}
/*end first div css*/

/*start Marquee css*/
.MarqueeStyling {
  text-decoration:none;
  color: #aaa;
  font-style: italic;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px color, #94a3b8;
  font-size: 14px;
  overflow: hidden;
  animation-direction: var(--direction);
  animation-duration: var(--duration);
}
#browser {
  color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#hits {
  color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#date {
  color: white; text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
/*end Marquee css*/

header a {
  font-size: 16px;
}

*, *:before, *:after {
  margin:0;
  padding:0;
}

body { 
  background-color: rgba(0, 0, 21, 1); 
  line-height:1.5;
  font-family:sans-serif;
  font-size:21px;
  color:#fff;
}

a {
  text-decoration:none;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#header {
  background:#1E262D;
  width:100%;
  position:relative
}
#header:after{
  content:"";
  clear:both;
  display:block
}
/*start search field */
.search{
  float:right;
  padding:30px
}
input{
  border:none;
  padding:10px;
  border-radius:20px
}
 /*end search field */

nav{
  float:right;
}
nav>ul{
  float:left;
  position:relative
}
nav li{
  list-style:none;
  float:left
}
nav .dropdown{
  position:relative
}
nav li a{
  float:left;
  padding:35px;
}
nav li a:hover{
  background-color: white;
  transition: 2s;
}
nav li ul{
  display:none
}
nav li:hover ul{
  display:inline
}
nav li li{
  float:none
}
nav .dropdown ul{
  text-shadow: 0 0 3px #FF0000;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  position:absolute;
  left:0;top:100%;
  background:rgba(0, 0, 21, 5);
  padding:20px 0;
  border-bottom:3px solid #34495e
}
nav .dropdown li{
  white-space:nowrap
}
nav .dropdown li a{
  text-shadow: 0 0 3px #FF0000;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  padding:10px 35px;
  font-size:13px;
  min-width:200px;
  Background-Color:rgba(0, 0, 21, 5);
  transition: 0.5s;
}
nav .dropdown li a:hover{
  background-color: white;
  transition: 2s;
}

/*sticky Social media icon styling starts here */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  
  }
  
  .icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 1s ease;
  font-size: 20px;
  }
  
  .icon-bar a:hover {
  background-color: #000;
  }
  
  .facebook {
  background: #3B5998;
  color: white;
  }
  
  .twitter {
  background: #55ACEE;
  color: white;
  }
  
  .google {
  background: #dd4b39;
  color: white;
  }
  
  .linkedin {
  background: #007bb5;
  color: white;
  }
  
  .youtube {
  background: #bb0000;
  color: white;
  }
/*Social media icon styling ends here */


/*start footer 

footer{ 
  background-color: rgba(0, 0, 21, 1); 
  text-align: center;
  border: 1px solid #02b8dd;
  }
  footer p {
  padding: 10px;
  }

*/
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}


/*Social media icons footer*/

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#apple,
#twitter,
#github,
#facebook {
  font-size: 2em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 10px;
  padding: 11px 19px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}
.container a:hover{
      background-color: #00ff44;
      transition: all 2s ease-out;
  }
#twitter {
  animation-delay: 0.3s;
}
#facebook {
  animation-delay: 0.7s;
}
#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
/*login button css start here*/
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
#disableloginbtn {
  background-color: #830000;
  color: white;
  border: none;
  cursor: pointer;
}
.Submitin {
  background-color: #830000;
  color: white;
  border: none;
  cursor: pointer;
  margin: 8px 0; width: 100%; padding: 14px 20px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.LoginFrame {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
/*login css end here */
/*cards css start here */
.sceneCards{
  /* !3D space! */
  perspective: 600px;
}
.C{
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.CARD{
  position: absolute;
  backface-visibility: hidden;
}
.back {
  transform: rotateY( 180deg );
}

.C:hover {
  transform: rotateY(180deg);
}
.text-rotate{
  transform: rotate(180deg);
}
.C-4:hover {
transform: rotateX(-180deg);
}
.cardsstarthere{
font-family: 'Bangers', cursive;
color: white;
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.sceneCards{
width: 200px;
min-width: 150px;
height: 350px;
margin: 22px;
}

.C{
width: 100%;
height: 100%;
border-radius: 35px;
}
.CARD{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
text-shadow: 2px 2px #e02577;
}
.C-4{
background-image: linear-gradient(to bottom, #520f60, #741580, #9918a1, #c118c2, #eb12e2);
}

/*cards css ends here */

